@media print {
    @page {
        size: A4 portrait;
    }

    html,
    body {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
        background-color: white;
       font-size: 0.85em;
    }

    .cv {
        width: 100%;
        display:block;
        margin: 0;
        padding: 0;
    }

    .intro {
        padding: 10px 30px
    }

    .print {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: row;
    }

    .right {
        padding: 5px 8px;
    }

    .profil p {
        padding: 10px 10px;
        opacity: 1 !important;
    }

    .left{
        max-width: 33%;
    }

    .competence,
    section {
        margin-bottom: 15px;
    }

    .detail_competence {
        transform: translateX(0px) !important;
    }

    li{
        margin-bottom:0;
    }
}