/* generique */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    padding: 30px;
}

a {
    color: #ebff8f;
    text-decoration: none;
    font-weight: bold;

}

p {
    text-indent: 1.5em;
}

/* element */
.cv {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 30px;
    background-color: #95aac0;
    color: #ddd;
}

.content {
    display: flex;
}

.left {
    background: #2c3e50;
    color: white;
    width: 35%;
    padding: 30px;
}

.photo {
    width: 160px;
    border-radius: 50%;
    margin-bottom: 20px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.left h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.left ul {
    list-style: none;
    padding-left: 0;
    font-size: 0.9rem;
}

.left ul li {
    margin-bottom: 8px;
}

.right {
    width: 65%;
    padding: 30px;
}

.right h1 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

.right h2 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.profil p{
    padding:0 30px;
    font-weight: 600;
}

section {
    margin-bottom: 30px;
}

section h3 {
    font-size: 1.2rem;
    color: #2c3e50;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

section ul {
    list-style: disc;
    margin-left: 20px;
}

.competences {
    display: flex;
    gap: 30px;
}

.competences div {
    flex: 1;
}

.detail_competence ul {
    list-style-type: none;
    padding-left: 0;
}

.detail_competence li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.logo_img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

@media (max-width : 812px) {
    .cv {
        flex-direction: column;
    }

    .content{
        flex-direction: column;
    }
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media(max-width:550px){
    .competences{
        display: flex;
        flex-direction: column;
    }
}